/* https://color.romanuke.com/tsvetovaya-palitra-1874/ */

.App {
  width: 100%;
  max-width: 1100px;
  border: 2px solid #acbdd3;
  background-color: #f7f8f9;
  color: #5d80b6;
  margin: auto;
  padding: 2px 8px;
}

h3{
  color: #101e5a;
}

p {
  color: #5d80b6;
}

a {
  color: #c42034;
}

.sep{
  color: #acbdd3;
}

h3, p, a, .sep {
  margin: 0 8px;
}

.a-for-anchor-in{
  margin: 0;
  padding: 0;
}
