.Content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.main-box{
  padding: 4px 8px;
  background-color: #f7f8f9;
  border-bottom: 1px solid #acbdd3;
}

.main-box:last-child{
  border-bottom: none;
}

.title-box, .discription-box{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.tooltip{
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background-color: #f7f8f9;
  width: 100px;
  text-align: center;
  position: absolute;
  z-index: 10;
  top: 145%;
  left: 50%;
  margin-left: -60px;
  padding: 3px;
  opacity: 0;
  transition: opacity 0.3s;
  border: 2px solid #5d80b6;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 104%;
  left: 50%;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent #5d80b6 transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.like {
  font-size: 10px;
  margin: -10px 0 0 -3px;
  cursor: pointer;
}

.yesLike {
  color: #c42034;
}

.noLike {
  color: #5d80b6;
}

pre {
  margin: 7px;
  color: #101e5a;
  font-size: 20px;
  cursor: pointer;
}

.mandatory-attributes{
  color: #c42034;
}
