.tost {
  position: fixed;
  top: 0;
  left: 80px;
  padding: 15px 20px;
  cursor: pointer;
  border: 2px solid #acbdd3;
  color: #5d80b6;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  z-index: 10;
  background-color: white;
}

.tost:empty {
  display: none;
}

.right-panel{
  position: fixed;
  padding: 15px 20px;
  color: #c42034;
  border: 2px solid #acbdd3;
  border-left: 10px solid #acbdd3;
  color: #c42034;
  text-align: center;
  font-size: 18px;
  z-index: 10;
  background-color: #f7f8f9;
}

.right-panel:hover{
  right: 0px;
}

.change-language{
  width: 30px;
  top: 20px;
  right: -60px;
  text-decoration: underline;
  cursor: pointer;
}

.change-lessons{
  width: 100px;
  top: 79px;
  right: -130px;
}

.select-lesson-box{
  border-left: 10px solid #c42034;
}

.select-lesson{
  border: 2px solid #c42034;
}
