
.change-language{
  position: fixed;
  top: 0;
  right: -60px;
  padding: 15px 20px;
  color: #c42034;
  text-decoration: underline;
  cursor: pointer;
  border: 2px solid #acbdd3;
  border-left: 10px solid #c42034;
  color: #c42034;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  z-index: 10;
  background-color: #f7f8f9;
}

.change-language:hover{
  right: 0px;
}

.tost {
  position: fixed;
  top: 0;
  left: 80px;
  padding: 15px 20px;
  cursor: pointer;
  border: 2px solid #acbdd3;
  color: #5d80b6;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  z-index: 10;
  background-color: white;
}

.tost:empty {
  display: none;
}

.change-lessons{
  position: fixed;
  top: 60px;
  right: -122px;
  padding: 15px 20px;
  color: #c42034;
  cursor: pointer;
  border: 2px solid #acbdd3;
  border-left: 10px solid #acbdd3;
  color: #c42034;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  z-index: 10;
  background-color: #f7f8f9;
}

.change-lessons:hover{
  right: 0px;
}

.select-lesson-box{
  border-left: 10px solid #c42034;
}

.select-lesson{
  border: 2px solid #c42034;
}
